%h1 Listing categories

%table
  %thead
    %tr
      %th Name
      - if user_signed_in?
        %th

  %tbody
    - @categories.each do |category|
      %tr
        %td
          %b= link_to category.name, category
        - if user_signed_in?
          - if current_user.categories.include? category
            -# TODO link-to un-follow
            %td Un-Follow (TODO)
          - else
            -# TODO link-to follow
            %td Follow (TODO)
          %td= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
